@font-face{
    font-family: "Roboto Slab";
    src: url(../Fonts/Roboto_Slab/RobotoSlab-Regular.ttf);
}

@font-face{
    font-family: "Roboto Slab Light";
    src: url(../Fonts/Roboto_Slab/RobotoSlab-Light.ttf);
}

body{
    margin: 0 auto;
}

div.calendar-area{
    height: 255px;
    position: relative;
    /overflow: hidden;
    
    -webkit-transition: height 1s;
    transition: height 1s;
}

    div.calendar-area.week-4{
        height: 211px;
    }

    div.calendar-area.week-4{
        height: 255px;
    }

    div.calendar-area.week-4{
        height: 299px;
    }

    

table.week-days{
    width:100%;
    text-align: center;
    border-collapse: collapse;
    background-color: #fff;
    position: relative;
    z-index: 2;
}

    table.week-days tr{
        height: 20px;
        
    }

        table.week-days tr td{
            border-bottom: 1px solid;
            height: 20px;
            font-family: "Roboto Slab";
            width: 14.28%;
        }

table.calendar {
    top: 23px;
    
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    
    font-family: "Roboto Slab Light";
    
    position: absolute;
    z-index: 1;
    
    -webkit-transition: top 1s;
    transition: top 1s;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: moz-none;
    -ms-user-select: none;
    user-select: none;
}

    table.calendar tr{
        -webkit-transition: opacity 1s;
        transition: opacity 1s;
    }

        table.calendar tr.invisible{
            opacity: 0;
        }

        table.calendar tr td{
            height: 44px;
            width: 14.28%;
            cursor: pointer;

            border-radius: 15%;

            -webkit-transition: background-color 0.5s;
            transition: background-color 0.5s;
        }

            table.calendar tr td.chosen{
                background-color: #A8A8A8;
                border-radius: 15%;
            }

            table.calendar tr td.today{
                background-color: #E8E8E8;
                border-radius: 15%;
            }
        

    table.calendar.week-1{
        top: 23px;
    }

    table.calendar.week-2{
        top: -23px;
    }

    table.calendar.week-3{
        top: -69px;
    }

    table.calendar.week-4{
        top: -115px;
    }

    table.calendar.week-5{
        top: -161px;
    }

    table.calendar.week-6{
        top: -207px;
    }


.header {
    height: 42px;
    border-bottom: 1px solid;
    text-align: center;
}

    .menu {
        background-image: url(../Images/logo.png);
        background-size: 100%;
        width: 42px;
        height: 42px;
        border: none;
        background-color: transparent;
        left: 10px;
        position: absolute;
    }

    .header .left {
        background-image: url(../Images/left.png);
        background-size: 100%;
        width: 42px;
        height: 42px;
        border: none;
        background-color: transparent;
        left: 52px;
        position: absolute;
    }

    .header .right {
        background-image: url(../Images/right.png);
        background-size: 100%;
        width: 42px;
        height: 42px;
        border: none;
        background-color: transparent;
        right: 52px;
        position: absolute;
    }

    .header span.month-name{
        font-family: "Roboto Slab";
        font-size: 16pt;
        line-height: 42px;
    }

    .header span.year{
        border-left: 2px solid;
        padding-left: 5px;
    }

div.progress-area{
    position: fixed;
    bottom: 0px;
    width: 100%;
}

    div.progress-area progress.progress{
        width: 100%;
        height: 15px;
    }


.no-tasks {
    text-align: center;
    width: 100%;
    height: 100%;
    line-height: 200px;
    display: none;
}

ul.tasks-list {
    padding-left: 0px;
    margin-bottom: 55px;
}

    .tasks-list li{
        list-style: none;
        height: 40px;
        line-height: 40px;
        font-family: "Roboto Slab";
        font-size: 12pt;
    }
        .tasks-list li:nth-child(odd){
            background-color: #E8E8E8;
        }
    
    ul.tasks-list input.new-task-text{
        border: none;
        background: transparent;
        outline: 0;
        line-height: 30px;
        font-family: "Roboto Slab";
        font-size: 12pt;
    }

div.add-a-task{
    height: 40px;
    line-height: 40px;
    width: 100%;
    font-family: "Roboto Slab";
    text-align: center;
    background-color: #C8C8C8;
    position: fixed;
    bottom: 15px;
    cursor: pointer;
}
    
