@font-face{
    font-family: "Roboto Slab";
    src: url(../Fonts/Roboto_Slab/RobotoSlab-Regular.ttf);
}

@font-face{
    font-family: "Roboto Slab Light";
    src: url(../Fonts/Roboto_Slab/RobotoSlab-Light.ttf);
}

body, html{
    height: 100%;
    max-width: 100% !important;
    overflow-x: hidden;
}

body{
    margin: 0 auto;
    height: 100%;
}


.main {
    left: 0px;
    position: absolute;
    width: 100%;
    -webkit-transition: left 1s;
    transition: left 1s;
}

    div.main.expanded{
        left: calc(100% - 62px);       
    }


div.main.settings {
    display: none;
    
}

div.main.credits {
    display: none;
    font-family: "Roboto Slab";
}
div.main.donate {
    display: none;
    
}

div.calendar-area{
    height: 255px;
    position: relative;
    overflow: hidden;
    
    -webkit-transition: height 1s;
    transition: height 1s;
}

    div.calendar-area.week-4{
        height: 211px;
    }

    div.calendar-area.week-5{
        height: 255px;
    }

    div.calendar-area.week-6{
        height: 299px;
    }

    

table.week-days{
    width:100%;
    text-align: center;
    border-collapse: collapse;
    background-color: #fff;
    position: relative;
    z-index: 2;
}

    table.week-days tr{
        height: 20px;
        
    }

        table.week-days tr td{
            border-bottom: 1px solid;
            height: 20px;
            font-family: "Roboto Slab";
            width: 14.28%;
        }

table.calendar {
    top: 23px;
    
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    
    font-family: "Roboto Slab Light";
    
    position: absolute;
    z-index: 1;
    
    -webkit-transition: top 1s;
    transition: top 1s;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: moz-none;
    -ms-user-select: none;
    user-select: none;
}

    table.calendar tr{
        -webkit-transition: opacity 1s;
        transition: opacity 1s;
    }

        table.calendar tr.invisible{
            opacity: 0;
        }

        table.calendar tr td{
            height: 44px;
            width: 14.28%;
            cursor: pointer;

            border-radius: 15%;

            -webkit-transition: background-color 0.5s;
            transition: background-color 0.5s;
        }

            table.calendar tr td.today{
                background-color: #E8E8E8;

            }

            table.calendar tr td.chosen{
                background-color: #A8A8A8;

            }
        

    table.calendar.week-1{
        top: 23px;
    }

    table.calendar.week-2{
        top: -23px;
    }

    table.calendar.week-3{
        top: -69px;
    }

    table.calendar.week-4{
        top: -115px;
    }

    table.calendar.week-5{
        top: -161px;
    }

    table.calendar.week-6{
        top: -207px;
    }


.header {
    height: 42px;
    border-bottom: 1px solid;
    text-align: center;
}

    button.menu {
        background-image: url(../Images/menu.svg);
        background-size: 35px;
        background-repeat: no-repeat;
        background-position: center;
        outline: none;
        width: 42px;
        height: 42px;
        border: none;
        background-color: transparent;
        left: 10px;
        position: absolute;
    }

    .header .left {
        background-image: url(../Images/left.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        outline: none;
        width: 42px;
        height: 42px;
        border: none;
        background-color: transparent;
        left: 52px;
        position: absolute;
    }

    .header .right {
        background-image: url(../Images/right.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        outline: none;
        width: 42px;
        height: 42px;
        border: none;
        background-color: transparent;
        right: 52px;
        position: absolute;
    }

    .header span.month-name, .header span.title{
        font-family: "Roboto Slab";
        font-size: 16pt;
        line-height: 42px;
    }

    .header span.year{
        border-left: 2px solid;
        padding-left: 5px;
    }

div.progress-area{
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 2;
}

    div.progress-area progress.progress{
        width: 100%;
        height: 15px;
    }

        div.progress-area progress {  
            background: #ffffff;
            height: 20px;
            border: 0;
            
        }  
        div.progress-area progress::-webkit-progress-bar {  
            background: #ffffff;
        }  
        div.progress-area progress::-webkit-progress-value {  
            background: green;
        }  
        div.progress-area progress::-moz-progress-bar {  
            background: green; 
        }


.no-tasks {
    text-align: center;
    width: 100%;
    height: 100%;
    line-height: 200px;
    display: none;
}

ul.tasks-list, ul.search-result {
    padding-left: 0px;
    margin-bottom: 75px;
}

    .tasks-list li, ul.search-result li{
        list-style: none;
        min-height: 40px;
        line-height: 40px;
        font-family: "Roboto Slab";
        font-size: 12pt;
        position: relative;
    }
        .tasks-list li:nth-child(odd), ul.search-result li:nth-child(odd){
            background-color: #E8E8E8;
        }

        ul.tasks-list li input[type=checkbox], ul.search-result li input[type=checkbox]{
            -webkit-appearance: none;
            background-color: #fafafa;
            /*border: 1px solid #cacece;*/
            border: 1px solid #423f37;
            padding: 9px;
            border-radius: 0px;
            display: inline-block;
            position: absolute;
            margin-top: 10px;
            margin-left: 30px;
            margin-right: 15px;
            outline: none;
            width: 20px;
            height: 20px;
        }

            ul.search-result li input[type=checkbox]{
                margin-left: 10px;
                clear: both;
            }

            ul.tasks-list li input[type=checkbox]:checked:after, ul.search-result li input[type=checkbox]:checked:after{
                	content: url(../Images/checked-mark.png);
                    position: absolute;
                    top: -3px;
                    left: -3px;
                /*
                    position: absolute;
                    top: 0px;
                    left: 3px;
                    color: #99a1a7;
                */
            }

        ul.tasks-list li span.title, ul.search-result li span.title{
            display: block;
            margin-left: 67px;
        }

        ul.search-result li span.title{
            margin-left: 47px;
            width: calc(100% - 90px);
        }


        ul.tasks-list li .time{
            padding-left: 5px;
            position: absolute;
            border-left: 3px solid;
            border-color: #adadad;
            line-height: 34px;
            right: 5px;
            height: 34px;
            top: 3px;
        }

        ul.tasks-list li span.day{
            position: absolute;
            right: 3px;
            padding: 0px 5px;
            line-height: 34px;
            height: 34px;
            top: 3px;
            border-radius: 5px;
            width: 34px;
            text-align: center;
            
            background-color: #adadad;
            color: #E8E8E8;
        }

             ul.tasks-list li div.task-options{
                display: none;   
             }

             ul.tasks-list li div.task-options-container{
                 display: flex;
                 flex-direction: row;
             }

                ul.tasks-list li div.task-options button{
                    height: 40px;
                    flex-grow: 1;
                    background-color: transparent;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 30px;
                    border: none;
                    outline: none;
                }

                ul.tasks-list li div.task-options button.delete{
                    background-image: url(../Images/delete.svg);
                }

                ul.tasks-list li div.task-options button.edit{
                    background-image: url(../Images/edit.svg);
                }

                ul.tasks-list li div.task-options button.cal{
                    background-image: url(../Images/cal.svg);
                }
    
    ul.tasks-list textarea.new-task-text, textarea.edit-input{
        border: none;
        background: transparent;
        outline: 0;
        line-height: 30px;
        font-family: "Roboto Slab";
        font-size: 12pt;
        display: block;
        margin-left: 65px;
        margin-top: 3px;
        width: calc(100% - 75px);
        height: 30px;
        resize: none;
    }

    textarea.edit-input{
        display: none;
        visibility: hidden;
    }

div.add-a-task{
    height: 40px;
    line-height: 40px;
    width: 100%;
    font-family: "Roboto Slab";
    text-align: center;
    background-color: #C8C8C8;
    position: fixed;
    bottom: 15px;
    cursor: pointer;
    z-index: 2;
}
    

div.menu{
    height: 100%;
    width: calc(100% - 62px);
    border-right: 1px solid;
    position: absolute;
    z-index: 3;
    background-color: #fff;
    left: calc(-100% + 62px);
    
    -webkit-transition: left 1s;
    transition: left 1s;
    
}

    div.menu.expanded{
        left: 0px;       
    }

    div.menu input.search {
        margin: 5px;
        padding: 5px;
        width: calc(100% - 24px);
        height: 22px;
        border-radius: 4px;
        border: 1px solid;
        border-color: grey;
        outline: none;
    }

    div.menu ul.menu-options {
        padding: 0;
        font-family: "Roboto Slab", sans-serif;
        margin-top: 0px;
        opacity: 1;
        display: block;
    }

        div.menu ul.menu-options.hidden{
            opacity: 0;
            display: none;
        }

        div.menu ul.menu-options li{
            list-style: none;
            height: 44px;
            line-height: 44px;
            padding-left: 55px;
            margin: 0px 5px;
            border-bottom: 1px solid;
            position: relative;
        }

            div.menu ul.menu-options li img.menu-icon {
                width: 30px;
                top: 7px;
                left: 17px;
                position: absolute;
            }


.section.developer {
    text-align: center;
    padding: 30px 0px;
    font-family: "Roboto Slab";
    border-bottom: 3px solid;
}

.developer-img {
    width: 90px;
    height: auto;
    border-radius: 100%;
    margin-top: 25px;
    margin-bottom: 5px;
}

.section.developer span.developed-by {
    position: relative;
    margin-top: 30px;
    margin-bottom: 5px;
    
}

.section.developer a.link {
    text-decoration: none;
}

.credits .section.projects {
    padding: 15px;
    
    border-bottom: 3px solid;
}

    .credits .section.projects ul.project-list {
        padding: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

        .credits .section.projects ul.project-list li{
            list-style: none;
            order: 1;
            flex-grow: 1;
            text-align: center;
            align-self: center;
            margin-top: 5px;;       
        }

            .credits .section.projects ul.project-list li .projects-item {
                width: 100px;
                top: 50%;
            }


.credits .section.icons {
    padding: 15px;
}

.main.login{
    z-index: 3;
    background-color: #fff;
    height: 100%;
    text-align: center;
    font-family: "Roboto Slab";
}

    .main.login img.logo{
        text-align: center;
        margin-top: 100px;
    }

    .main.login span.advice{
        margin-top: 150px;
        display: block;
        margin-left: 5%;
        width: 90%;
        margin-bottom: 10px;
        font-family: "Roboto Slab";
        font-size: 14px;
        
    }
        
    .main.login button.auth{
        display: block;
        margin-left: 5%;
        margin-top: 5px;
        width: 90%;
        height: 40px;
        border-radius: 4px;
        border: 1px solid;
        background: #fff;
        border-color: #000;
        font-family: RobotoSlab;
    }

    .main.login a.skip{
        position: absolute;
        bottom: 5px;
        right: 10px;
        bottom: 10px;
        font-size: 20px;
        
        color: #333;
    }

ul.search-result{
    padding: 5px;
    font-family: "Roboto Slab";
    opacity: 0;
    display: none;

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ie-transition: opacity 1s;
    transition: opacity 1s;
}
    ul.search-result.show{
        opacity: 1;
        display: block;

        -webkit-transition: opacity 1s;
        -moz-transition: opacity 1s;
        -ie-transition: opacity 1s;
        transition: opacity 1s;
    }

    ul.search-result li{
        list-style: none;
    }

        ul.search-result li span.title{
            display: inline-block;
            
        }

        ul.search-result li span.day{
            float: left;
            
        }

            ul.search-result li div.date{
                position: absolute;
                right: 10px;
                display: inline;
                
            }
            
            ul.search-result li div.date span.day{
                
            }

            ul.search-result li div.date span.month{
                
            }